<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aftermealdiary">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCzyE2ga4Zn1Z8jK9tSJxH0YCkUHhNVimE" />

        <receiver android:name=".AlarmNotification" /> <!-- 스플래시 액티비티 -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 홈 액티비티 -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity> <!-- 캘린더 액티비티 -->
        <activity
            android:name=".CalendarActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity> <!-- 지도 액티비티 -->
        <activity
            android:name=".MapActivity"
            android:launchMode="singleTop" /> <!-- 마이페이지 액티비티 -->
        <activity
            android:name=".SettingActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity> <!-- 글 보기 액티비티 -->
        <activity
            android:name=".PostActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity> <!-- 글 작성 액티비티 -->
        <activity
            android:name=".WriteActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity> <!-- 글 수정 액티비티 -->
        <activity
            android:name=".EditActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <!-- 메뉴 룰렛 액티비티 -->
        <activity
            android:name=".MenuPickerActivity"
            android:launchMode="singleTop" /> <!-- 알람 액티비티 -->
        <activity
            android:name=".AlarmActivity"
            android:launchMode="singleTop" />
        <activity android:name=".MealMateActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>
